desafio-proposta/HELP.md
desafio-proposta/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
desafio-proposta/.idea
desafio-proposta/*.iws
desafio-proposta/*.iml
desafio-proposta/*.ipr
